.accordion-menu {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.accordion-item {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.accordion-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
}

.accordion-title:hover {
  background-color: #f1f1f1;
}

.accordion-title.active {
  background-color: #eee;
}

.accordion-content {
  padding: 10px;
  font-size: 16px;
  line-height: 1.5;
}

.fa-plus:before {
  content: "\f067";
}

.fa-minus:before {
  content: "\f068";
}

