.accordion-menu {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.accordion-item {
  margin-bottom: 20px;
  border: 1px solid #BBC0C6;
  border-radius: 17px;
  background-color: cornflowerblue;
  color: rgb(194, 45, 19);
}

.accordion-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
}

.accordion-title:hover {
  background-color: #1767c2;
  border-radius: 17px;
}

.accordion-title.active {
  background-color: #eee;
}

.accordion-content {
  padding: 10px;
  font-size: 16px;
  line-height: 1.5;
}

.fa-plus:before {
  content: "\f067";
  color: red;
}

.fa-minus:before {
  content: "\f068";
}

h1 {
  text-align: center;
  color: rgb(194, 45, 19);
}


body {
  /* Created with https://www.css-gradient.com */
  background: #9F69D6;
  background: -webkit-linear-gradient(right, #9F69D6, #3B5D80);
  background: -moz-linear-gradient(right, #9F69D6, #3B5D80);
  background: linear-gradient(to left, #9F69D6, #3B5D80);
}